#head img{width:100%;height:120px}

#home .home_main{position:relative}
#home .top_row{height:462px;}  /* 高度塌陷*/
#home .top_row div{height:462px;position:absolute;left:0;top:0}
#home .left_home{width:234px;background-color:#9B9B9D;opacity:.8;line-height:42px;}

#home .left_home a{color:#ffffff;font-size:16px}

#banner{width:100%;}
#banner ul li img{width:1228px;height:462px}

#banner{overflow:hidden;width:1228px;height:462px;}
#banner ul{position:absolute;}
#banner ul li a{display: block;width:100%;height:100%}
#banner ul li{float:left;}
#banner ul li a{opacity:1}
#banner ol{position:absolute;bottom:20px;right:34px;z-index:2;cursor: pointer;}
ol li{float:left;width:6px;height:6px;border-radius:50%;border:2px solid #899093;background-color:#79818B;z-index:1;margin-left:5px}
.active{background-color:#ffffff;}

#home .left_home ul li{float:left;width:100%;height:42px;position:relative}
#home .left_home ul .i:hover{background-color:#FF6700}
#home .left_home ul .i:first-child{margin-top:22px}
#home .left_home ul .i a{font-size:14px;padding-left:30px;}
#home .left_home .icon-arrow-right-bold{font-size:16px;font-weight:bold;color:#ffffff;position:absolute;right:20px;top:2px}

#home .sub_row{overflow:hidden;margin-top:16px;margin-bottom:28px}
#home .sub_row .row_li6{width:234px;height:172px;float:left}
#home .sub_row .row_li6 li{float:left;width:80px;height:88px;background-color:#5F5750;margin:-2px;list-style-type: none;border:1px solid white}
#home .sub_row .row_li6 li img{width:24px;height:24px;margin:24px 0 0 28px;}
#home .sub_row .row_li6 li span{color:#ffffff;font-size:10px;padding:0 0 32px 16px}
#home .sub_row .row_li3{width:982px;height:172px;float: left;margin-left:12px}
#home .sub_row .row_li3 li{float:left;width:318px;height:172px;margin-right:14px}
#home .sub_row .row_li3 li:last-child{margin-right:0}
#home .sub_row .row_li3 li img{width:100%;height:100%}


.top_goods{width:800px;height:300px;margin-left:232px;margin-top:-22px;display:flex;display:none}
#home .top_goods ul li{width:198px;height:66px;background-color:#ffffff;}
#home .top_goods ul li img{display:inline-block;width:60px;height:60px;margin-left:15px;margin-top:5px}
#home .top_goods ul li span{line-height:66px}
.i:hover .top_goods{display:block}



#page_main{background-color:#f5f5f5;position:relative;}
.top{height:62px}
.title{font-size:22px;font-weight:200;line-height:58px;color:#333}
#page_main .page_sale .top .swiper_controls{position:absolute;top:26px;right:60px;}
#page_main .page_sale .top .swiper_controls span{display:inline-block;width:34px;height:22px;border:1px solid #E0E0E0;line-height:22px}
#page_main .page_sale .top .swiper_controls .swiper_pre{margin-right:-5px;}
#page_main .page_sale .top .swiper_controls .swiper_pre a{display:block;width:34px;height:22px;}
#page_main .page_sale .top .swiper_controls span i{padding-left:8px;}

#page_main .page_sale .flash_buy{overflow:hidden}  /* 解决子元素浮动带来的父元素高度塌陷问题 */
#page_main .page_sale .flash_buy ul li{float:left;height:342px;width:234px;border-top:2px solid green;background:#FFFFFF;margin-right:14px}
#page_main .page_sale .flash_buy ul li:first-child{border-top:2px solid red}
#page_main .page_sale .flash_buy ul li:nth-child(2){border-top:2px solid blue}
#page_main .page_sale .flash_buy ul li:nth-child(3){border-top:2px solid pink}
#page_main .page_sale .flash_buy ul li:last-child{margin-right:0px;border-top:2px solid brown}

.content .thumb{ width:160px;margin: 44px auto 22px;}
.content .thumb img{height:160px;width:160px;}
.content .thumb img a{width:234px;height:342px;display:block;color:black;}
.content .desc,.price,h3{text-align:center}
.content .desc{height: 18px;margin: 2px 20px 12px; font-size: 12px;color: #b0b0b0;overflow: hidden;white-space: nowrap;}
.clearfix .content img{width:100%;height:100%}

#page_main .page_sale .flash_buy .round{ font-size: 21px;color: #ef3a3b;margin-top:62px;text-align:center}
#page_main .page_sale .flash_buy .icon-shandian{color:red;font-size:50px;padding-left:100px}
#page_main .page_sale .flash_buy .des{color:#6F6D6D;text-align:center;padding-top:30px}
#page_main .page_sale .flash_buy .interval{margin:26px 0 0 34px}
#page_main .page_sale .flash_buy .interval span{display:inline-block;width:48px;height:44px;background-color:#605751;color:#ffffff;text-align:center;font-size:24px;padding-top:4px;}

#page_main .banner_ad_box{height:120px;margin-top:22px}
#page_main .banner_ad_box img{width:100%;height:100%}
#page_main .brick_box{position:relative}
#page_main .brick_box .more{font-size:16px;position:absolute;top:24px;right:0}
#page_main .icon-xiangyou{font-size:18px}

.clearfix{height:616px;overflow:hidden}
#page_main .clearfix .ul_left{width:232px;height:100%}
#page_main .clearfix .ul_left img{width:100%;height:616px}
#page_main .clearfix .ul_right{width:994px;overflow:hidden;}
#page_main .clearfix .ul_right li{float:left;width:230.5px;height:300px;margin-left:18px;
background: #fff;margin-bottom:16px}

/* 小米盒子阴影 */
.clearfix ul li{border-radius: 5px;transition: .5s;}
.clearfix ul li:hover{box-shadow:0px 6px 8px 3px #ccc;}



